div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h2 {
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
  }
  
  p {
    margin: 5px 0;
    font-size: 1em;
    font-weight: bold;
    color: var(--text-color);
  }
  
  strong {
    color: #888;
  }
  